<!--<!DOCTYPE html>-->

<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" th:href="@{css/style.css}">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body class="api-main">-->
<!--    <nav class="nav-section">-->
<!--        <ul>-->
<!--            <li>Обратные звонки-->
<!--                <ul>-->
<!--                    <li id="active-contacts-selector">Активные</li>-->
<!--                    <li id="archive-contacts-selector">В архиве</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                Чаты-->
<!--                <ul>-->
<!--                    <li>Активные</li>-->
<!--                    <li>В архиве</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--    <section class="content-section">-->
<!--        <div class="content-section__active-contacts">-->
<!--            <div class="content-section__card contact-card">-->
<!--                <h5 class="contact-card__name">Иван Иванов</h5>-->
<!--                <p class="contact-card__phone">+375255335607</p>-->
<!--                <p class="contact-card__email">egor43585@bk.ru</p>-->
<!--                <button class="contact-card__processed">В архив</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <script th:src="@{js/script.js}"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Example</title>
</head>
<body>
<h1>Hello, Thymeleaf!</h1>
<a href="login.html">sign in</a>
</body>
</html>